@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/KyivTypeSans-Regular3.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/KyivTypeSans-Bold3.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*$font_primary: "Roboto", sans-serif;*/
/*common*/
* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #FFFFFF;
  color: #040506;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

html {
  min-width: 330px;
}

body {
  font-family: "KyivTypeSans", sans-serif;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  background: #040506;
}

h1 {
  font-size: 192px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0px 0px 100px;
}

h2 {
  font-size: 60px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0px 0px 50px;
}

h3 {
  font-size: 40px;
  line-height: 120%;
  margin: 0px 0px 50px;
}

ul, ol {
  padding: 0px 0px 0px 30px;
}

a {
  color: #FFFFFF;
  transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 1430px;
  padding: 0px 15px;
}

.btn {
  background: #FFFFFF;
  color: #040506;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  text-decoration: none;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out 0s;
  font-size: 26px;
  line-height: 150%;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
}

/*header*/
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s ease-in-out 0s;
}
.header.fixed {
  background: rgba(0, 0, 0, 0.85);
}
.header.fixed .header__wrap {
  padding: 10px 0px;
}
.header.fixed .header__logo {
  max-width: 80px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  transition: all 0.3s ease-in-out 0s;
}
.header__logo {
  max-width: 132px;
  vertical-align: top;
  margin-right: 30px;
  transition: all 0.3s ease-in-out 0s;
}
.header__nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.nav__item {
  list-style-type: none;
  margin: 0px 2vw 0px 0px;
}
.nav__item:last-child {
  margin: 0px;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #DAA520;
}
.nav-toggle {
  display: none;
}

.lang__list {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.lang__item {
  list-style-type: none;
  margin: 0px 1vw 0px 0px;
}
.lang__item:last-child {
  margin: 0px;
}
.lang__link {
  text-decoration: none;
  text-transform: uppercase;
}
.lang__link:hover {
  color: #DAA520;
}
.lang__link--active {
  color: #DAA520;
}

/*main common*/
section {
  padding: 80px 0px;
}

/*main section*/
.hero {
  position: relative;
  min-height: 750px;
  height: 95vh;
  padding: 100px 0px;
}
.hero .container {
  position: relative;
  height: 100%;
}
.hero__wrap {
  position: absolute;
  bottom: 0px;
  width: 50%;
}
.hero__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.hero__bg:before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, #040506, transparent);
  content: "";
}
.hero__bg--service {
  width: 50%;
  left: auto;
  right: 0px;
  z-index: -1;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__logo {
  margin: 0px 0px 30px;
}
.hero__text {
  font-size: 32px;
  line-height: 150%;
  margin: 0px 0px 30px;
}

/*services*/
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
.services__item-name {
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 15px;
  text-decoration: none;
}
.services__item-name h3 {
  margin: 0px;
  font-size: 24px;
  line-height: 120%;
}
.services__item-img-wrap {
  position: relative;
  width: 100%;
  min-height: 300px;
  height: 50vh;
  border-radius: 23px;
  margin: 0px 0px 15px;
  overflow: hidden;
}
.services__item-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out 0s;
}
.services__item .btn {
  font-size: 18px;
  line-height: 150%;
  padding: 10px 15px;
  color: #FFFFFF;
  background: transparent;
}
.services__item:hover .services__item-img {
  transform: scale(1.2);
}

/*gallery*/
.gallery h2 {
  margin: 0px;
}
.gallery__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.gallery__slider {
  position: relative;
  margin: 0px 0px 30px;
}
.gallery__item img {
  transform: scale(0.8);
  transition: all 0.3s ease-in-out 0s;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.gallery__item.swiper-slide-active img {
  transform: scale(1);
}
.gallery__nav {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  transform: scale(0.95);
  border-radius: 50%;
  overflow: hidden;
}
.gallery__nav--prev {
  background: url(../media/arrow_prev.png) no-repeat;
  background-size: 100%;
}
.gallery__nav--next {
  left: auto;
  right: 0px;
  background: url(../media/arrow_next.png) no-repeat;
  background-size: 100%;
}
.gallery__nav:hover {
  transform: scale(1);
}
.gallery__caption {
  text-align: center;
  font-size: 36px;
  line-height: 120%;
}

.tabs {
  position: relative;
  display: flex;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}
.tabs__item {
  color: #FFFFFF;
  padding: 0px 15px 10px;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.tabs__indicator {
  position: absolute;
  bottom: -4px;
  height: 4px;
  background: #FFFFFF;
  transition: all 0.3s ease-in-out 0s;
}
.tabs__content {
  display: none;
}
.tabs__content.active {
  display: block;
}

/*about*/
.about {
  position: relative;
  height: 100vh;
  min-height: 750px;
  overflow: hidden;
  padding: 80px 0px 0px;
}
.about__bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .container {
  height: 100%;
}
.about__photo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  max-width: 90%;
  width: auto;
  max-height: 100%;
  height: auto;
  z-index: 1;
}
.about__img {
  position: absolute;
}
.about__img--first {
  top: 1%;
  left: 2%;
  width: 33%;
  z-index: 0;
}
.about__img--second {
  bottom: 1%;
  right: 3%;
  width: 40%;
  z-index: 2;
}
.about__text {
  position: absolute;
  width: 40%;
  padding: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  font-size: 30px;
  line-height: 120%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
.about__text--first {
  bottom: 50px;
  left: 0px;
}
.about__text--second {
  right: 0px;
  top: 50px;
  font-size: 32px;
  line-height: 150%;
  width: 35%;
}

/*testimonials*/
.testimonials__list-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px;
}
.testimonials__list-pagination .swiper-pagination-bullet {
  width: 4vw;
  height: 4px;
  border-radius: 0px;
  background: #787878;
  margin: 0px 15px !important;
  opacity: 1;
}
.testimonials__list-pagination .swiper-pagination-bullet-active {
  background: #FFFFFF;
}
.testimonials__item {
  padding: 25px;
  border: 2px solid #FFFFFF;
  border-radius: 23px;
}
.testimonials__item-name {
  display: inline-block;
  background: #FFFFFF;
  color: #040506;
  font-size: 20px;
  line-height: 150%;
  padding: 0px 25px;
  border-radius: 23px;
  margin: 0px 0px 20px;
}
.testimonials__item-text {
  font-size: 18px;
  line-height: 150%;
}

/*footer*/
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0px;
}
.footer__contacts {
  text-align: center;
  width: 50%;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 0px 30px;
}
.footer__contacts-item {
  font-size: 22px;
  line-height: 150%;
  text-decoration: none;
}
.footer__contacts-item:hover {
  color: #DAA520;
}
.footer__form {
  width: 45%;
}
.footer h2 {
  font-size: 48px;
  line-height: 120%;
}

.form__item {
  position: relative;
  margin: 0px 0px 50px;
}
.form__item--submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.form__input {
  width: 100%;
  height: 70px;
  border-radius: 50px;
  border: 3px solid #FFFFFF;
  padding: 15px 40px 18px;
  background: transparent;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out 0s;
}
.form__input:hover, .form__input:focus {
  border-color: #DAA520;
}
.form__info {
  font-size: 14px;
  line-height: 120%;
  margin: 0px 20px 0px 0px;
}
.form__submit {
  font-size: 20px;
  line-height: 120%;
  padding: 5px 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.social__item {
  list-style: none;
}
.social__link {
  display: block;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../media/icons_social.png) no-repeat;
  background-position: 0px 0px;
  background-size: 141px 47px;
  margin: 0px 5px;
  transition: all 0.3s ease-in-out 0s;
}
.social__link--instagram {
  background-position: 0px 0px;
}
.social__link--facebook {
  background-position: -47px 0px;
}
.social__link--whatsapp {
  background-position: -94px 0px;
}
.social__link:hover {
  transform: scale(1.2);
}

/*service-page*/
.service-section {
  margin: 0px 0px 100px;
}
.service-section:last-child {
  margin: 0px;
}
.service-section h2 {
  text-align: center;
}
.service-section__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.service-section__item {
  position: relative;
  padding-top: 20px;
}
.service-section__item-num {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 96px;
  line-height: 100%;
  color: #FFFFFF;
  opacity: 0.2;
}
.service-section__item-text {
  font-size: 20px;
  line-height: 150%;
  margin: 0px 0px 30px;
}
.service-section__item-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-section__item-detail span {
  font-weight: 700;
}
.service-section__item:nth-of-type(2n) {
  margin-top: 10vh;
}
.service-section__sep {
  width: 100%;
  height: 2px;
  border-radius: 100%;
  background: linear-gradient(to right, transparent, #ffffff, transparent);
  grid-column: 1/-1;
}