@font-face {
	font-family: 'KyivTypeSans';
	src: url('/fonts/KyivTypeSans-Regular3.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'KyivTypeSans';
	src: url('/fonts/KyivTypeSans-Bold3.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


$font_primary: "KyivTypeSans", sans-serif;

$bg_main: #040506;

$color_main: #FFFFFF;
$color_secondary: #040506;
$color_asset: #787878;